<section class="container">
  <div class="row">
    <div class="col">
      <h2>{{post_title}}</h2>
      <p>{{post_comment}}</p>
      <p>{{date_created}}</p>
    </div>
    <div class="col">
      <h6>{{user.user_name}}</h6>
    </div>
  </div>
</section>