<div class="container containerSize pt-5">
  <div class="row formBG">
    <form id="login-form" class="login-form">
      <h2>Login</h2>
      <div class="form-group col-2">
        <label class="form-label" for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group col-2">
        <label class="form-label" for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group col-12 pt-2">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>