.formBG {
  background-color: #9fb5a8;
}

.containerSize {
  max-width: fit-content;
}

.noLines {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: none;
}
#mainContent {
  position: relative;
  min-height: 11vh;
}

#content-wrap {
  padding-bottom: 4rem;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}

/* #styledImg {
  background-image: url(../images/avatar.png);
  border-radius: 30%;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
} */
